.cell {
  width: 30px;
  height: 30px;
  background-color: #76B041;
  border: 0.5px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #19323C;
  font-weight: bold;
}
.cell > div:nth-child(odd) {
  background-color: yellow;
}
.cell--selected {
  background-color: #D6D9CE;
}
.cell--flagged {
  color: red;
}
.cell--bomb {
  background-color: #D6D9CE;
  color: #540804;
}