.cell {
  background-color: #76B041;
  border: 0.5px solid #58882a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #19323C;
  font-weight: bold;
}
.cell--med {
  width: 30px;
  height: 30px;
}
.cell--easy {
  width: 48px;
  height: 48px;
}
.cell--selected {
  background-color: #D6D9CE;
}
.cell--flagged {
  color: red;
}
.cell--bomb {
  background-color: #D6D9CE;
  color: brown;
}