.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.app-header {
  font-family: 'Righteous', cursive;
}
.app-header h1 {
  font-size: 45px;
  color: #540804;
}
.app-header h2 {
  color: brown;
}
.poop-icon {
  color: brown;
  margin: 10px;
}
.broom-icon {
  color: goldenrod;
  margin: 10px;
}

